{% extends 'base.html.twig' %}

{% block schema %}https://schema.org/ContactPage{% endblock %}

{% block nav_contextual %}
    Op het <strong>Fonteinland 7A</strong> in <strong>Leeuwarden</strong> help
    ik je verder met
    <strong><a href="{{ path('holistisch-therapeut') }}" title="{{ label('holistisch-therapeut') }}">Holistische therapie</a></strong>,
    <strong><a href="{{ path('reiki') }}" title="{{ label('reiki') }}">Reiki</a></strong>
    en als <strong><a href="{{ path('life-coach') }}" title="{{ label('life-coach') }}">Life coach</a></strong>.
{% endblock %}

{% block main %}
    &laquo;Hier volgt nog inhoud&raquo;
{% endblock %}
