{% extends 'base.html.twig' %}

{% block nav_contextual %}
    <div itemscope itemtype="https://schema.org/MedicalBusiness">
        Mijn naam is
        <a href="{{ path('over-mij') }}" title="{{ label('over-mij') }}" itemprop="founder" itemscope itemtype="https://schema.org/Person">
            <strong itemprop="givenName">{{ company.founder.givenName }}</strong>
            <strong itemprop="familyName">{{ company.founder.familyName }}</strong>
        </a>

        en ik verwelkom je in
        <span itemprop="location" itemscope itemtype="https://schema.org/Place">
            <a href="{{ path('contact') }}" title="{{ label('contact') }}">mijn <span itemprop="name">praktijk</span></a>
            in
            <span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                <strong itemprop="addressLocality">{{ company.address.locality }}</strong>.
            </span>
        </span>
    </div>
{% endblock %}

{% block main %}
    &laquo;Hier volgt nog inhoud&raquo;
{% endblock %}
