{% extends 'base.html.twig' %}

{% block main %}
    <p class="block">
        Huisje, boompje, beestje: dat is wat jij allemaal van je lijstje kunt
        afvinken.
        Je hebt een fijn gezin thuis en bent druk bezig met je carrière.
        Maar door alle hectiek vergeet je eigenlijk wie het belangrijkste is: jijzelf.
        Het liefst ren, hol en vlieg je voor iedereen, maar dit maakt jou niet
        gelukkiger. Je zit al een tijdje niet lekker in je vel.
        Hoe zorg je ervoor dat je het heft weer in eigen handen neemt?
    </p>

    {{ h1('Haal het beste van jezelf naar boven!') }}
    <p>
        Zorgzaam zijn zit in de genen van de vrouw. Wanneer een
        dierbare hulp nodig heeft, sta je snel paraat om de zorgrol
        op je te nemen. Maar het is verleidelijk om in deze zorgrol
        te blijven hangen. En dat is juist een valkuil. Daardoor is de
        kans groot dat je ongelukkig wordt, wat voor lichamelijke
        en geestelijke klachten kan zorgen.
        <a href="{{ path('holistisch-therapeut') }}" title="{{ label('holistisch-therapeut') }}">Holistisch therapeut</a>,
        <a href="{{ path('life-coach') }}" title="{{ label('life-coach') }}">lifecoach</a>
        en <a href="{{ path('reiki') }}" title="{{ label('reiki') }}">reikimaster</a>
        {{ company.founder.givenName }} {{ company.founder.familyName }}
        helpt je om je geluk weer te vinden.
    </p>

    <figure itemprop="primaryImageOfPage" itemscope itemtype="https://schema.org/ImageObject">
        <picture id="home_hero" class="hero">
            <source type="image/webp" srcset="img/photos/home_hero-1280x.webp" media="(min-width: 2000px)">
            <source type="image/jpeg" srcset="img/photos/home_hero-1280x.jpg" media="(min-width: 2000px)">
            <source type="image/webp" srcset="img/photos/home_hero-1600x.webp 2x, img/photos/home_hero-800x.webp">
            <source type="image/jpeg" srcset="img/photos/home_hero-1600x.jpg 2x">
            <img
                alt="{{ company.founder.givenName }} op het strand, wijzend naar de verte"
                width="800"
                height="533"
                itemprop="contentUrl"
                src="img/photos/home_hero-800x.jpg">
        </picture>
    </figure>

    {{ h2('Dieper kijken') }}
    <figure class="quote">
        <figcaption><cite>{{ company.founder.givenName }}</cite> vertelt:</figcaption>
        <blockquote>
            <p>Soms is het lastig om te achterhalen waarom
                je je precies ongelukkig voelt. Je hebt toch een carrière en
                een gezin thuis? Wanneer je dan ook naar de arts gaat met
                je gevoelens en eventuele klachten, komt de daadwerkelijke
                oorzaak niet gelijk aan het licht. Je voelt je onbegrepen
                en overgevoelig. Ik ben er dan voor je om dieper te gaan
                kijken. Die doe ik door
                <a href="{{ path('life-coach') }}" title="{{ label('life-coach') }}">lifecoaching</a>,
                <a href="{{ path('holistisch-therapeut') }}" title="{{ label('holistisch-therapeut') }}">holistische technieken</a>
                en <a href="{{ path('reiki') }}" title="{{ label('reiki') }}">reiki</a>
                te combineren.</p>
        </blockquote>
    </figure>
{% endblock %}
