{% block diplomas %}
    {{ h2('Cerficering') }}
    <div class="diplomas grid grid-cols-{{ max(1, min(3, diplomas|length)) }}">
        {% for diploma in diplomas %}
            {# TODO: implement https://schema.org/EducationalOccupationalCredential #}
            <div class="diploma">
                <figure>
                    <figcaption>{{ h3(diploma.level, 'certificering-' ~ diploma.level) }}</figcaption>
                    <img
                        width="{{ diploma.thumbnail.width }}"
                        height="{{ diploma.thumbnail.height }}"
                        title="{{ diploma.level }}"
                        alt="{{ diploma.level }}"
                        src="{{ diploma.thumbnail.path }}" />
                </figure>

                <p>{{ diploma.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
