<!doctype html>
<html lang="{{ meta.language }}">
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta itemprop="description" name="description" content="{{ meta.description }}">
            <meta name="author" content="{{ meta.author }}">
            <meta name="theme-color" content="{{ meta.themeColor }}">
            <meta name="robots" content="{{ meta.robots }}">
            <title>{{ title }}</title>
            <base href="{{ constant('WEBSITE')|trim('/') }}/">
            <link rel="canonical" href="{{ meta.canonical }}">
        {% endblock %}

        {% block stylesheets %}
            {% import 'macros.html.twig' as html %}
            {{ html.link('css/style.css') }}
        {% endblock %}

        {% include 'favicons.html.twig' %}

        {% block social %}
            {% include 'social.html.twig' %}
        {% endblock %}
    </head>

    <body itemscope itemtype="{% block schema %}https://schema.org/WebPage{% endblock %}" class="page-{{ _route }}">
        {% block body %}
            <div id="header-container" class="container">
                <header itemscope itemtype="https://schema.org/WPHeader">
                    {% include 'header.html.twig' %}
                </header>
            </div>

            <div id="nav-container" class="nav-container container">
                <nav id="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                    {% include 'nav.html.twig' %}
                </nav>
            </div>

            <div id="nav-contextual" class="nav-container container shadow">
                <nav>
                    {% block nav_contextual %}{% endblock %}
                </nav>
            </div>

            <div id="main-container" class="container">
                <main itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
                    {% block main %}{% endblock %}
                </main>
            </div>

            <div class="footer-container footer-doormat container">
                <footer itemscope itemtype="https://schema.org/WPFooter">
                    {% include 'footer/doormat.html.twig' %}
                </footer>
            </div>

            <div class="footer-container footer-service container shadow">
                <footer itemscope itemtype="https://schema.org/WPFooter">
                    {% include 'footer/service.html.twig' %}
                </footer>
            </div>

            <div class="footer-container footer-authority container">
                <footer itemscope itemtype="https://schema.org/WPFooter">
                    {% include 'footer/authority.html.twig' %}
                </footer>
            </div>
        {% endblock %}
    </body>
</html>
