{% block footer %}
    <div id="doormat">
        <h2 id="doormatTitle">Ontdek alles bij {{ company.name }}</h2>
        <nav aria-labelledby="doormatTitle">
            {% for group,links in nav.doormat %}
                <div>
                    <strong>{{ group }}</strong>
                    {% for id in links %}
                        <a href="{{ path(id) }}" title="{{ label(id) }}">
                            {{- label(id) -}}
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
            <div>
                <pre>!! Plaats neutrale afbeelding</pre>
            </div>
        </nav>
    </div>
{% endblock %}
