{% block header %}
    <a id="brand" href="{{ path('home') }}" title="{{ company.name }}">
        <picture>
            <source type="image/webp" srcset="img/logo-80x80.webp 2x, img/logo-40x40.webp">
            <source type="image/png" srcset="img/logo-80x80.png 2x">
            <img alt="Company logo" width="40" height="40" src="img/logo-40x40.png" />
        </picture>
        {{ company.name }}
    </a>
    <a id="phone" href="tel:{{ company.phone.number }}">{{ company.phone.label }}</a>
{% endblock %}
